<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECS</title>
    <link rel="stylesheet" href="/static/css/cs.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/flat-ui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="icon" href="/static/img/ico.png" type="image/x-icon" />
</head>
<body>
    <div>
{#        head#}
        <img class="logo" src="/static/img/logo.png">
    </div>
    <div>
{#        content#}
        <form class="form" action="/cmdb/check/" method="post">
            <p>
                <input type="text" name="username"  placeholder="UserName"/>
            </p>
            <p>
                <input type="password" name="password" placeholder="Passwd" />
            </p>

            <p>
                <input type="submit" class="button button-glow button-rounded button-raised button-primary"  value="login"/>
            </p>
        </form>

    </div>
    <div>
{#        footer#}
    </div>

    <script src="/static/js/jquery-2.1.4.min.js"></script>
</body>
</html>

